/*
COLORS USED:
coral #e14658
coral shadow #6f1822
coral hover #d14152
navy #22252c
navy hover & Shadow #1d2026

FONTS USED:

OSWALD - H tags and Button Text
MONTSERRAT - Body Text
*/

/* ================= FONTS ================= */

@font-face { font-family: Oswald; font-weight: bold; src: url('assets/fonts/oswald/Oswald-Bold.ttf'); }
@font-face { font-family: Oswald-Light; src: url('assets/fonts/oswald/Oswald-Light.ttf'); }
@font-face { font-family: Quattrocento; src: url('assets/fonts/quattrocento/Quattrocento-Regular.ttf');}  
@font-face { font-family: Quattrocento-Bold; font-weight: bold; src: url('assets/fonts/quattrocento/Quattrocento-Bold.ttf');}

/* ================= NAVBAR ================= */
html, body {
  overflow-x:hidden 
  padding: 0px;
  margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	color: #333;
}

h1 {
	font-size: 96px;
	text-transform: uppercase;
}

h2{
	font-size: 40px;
	text-transform: uppercase;
}

h3{
	font-size: 32px;
	text-transform: uppercase;
}

h4{
	font-size: 24px;
	text-transform: uppercase;
}

h5 {
	font-size: 20px;
	text-transform: uppercase;
}

h6 {
	font-size: 16px;
	text-transform: uppercase;
}

p {
	font-family: 'Quattrocento', serif;
	font-size: 16px;
}

.btn { /*ADJUST BUTTON APPERANCE HERE*/
	font-family: 'Oswald', sans-serif;
	background: none;
	font-weight: bold;
	font-size: 1.5em;
	border-radius: 0;
	border: 2px solid #fff;
	text-decoration: none;
}

.btn:hover, 
.btn:active, 
.btn:focus 
{
	background: rgba(255, 255, 255, .3);
	outline: none !important;
	color: #fff !important;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.btn:hover {
	color: #fff;
}

/* ================= HEADER ================= */

.jm-main-header  {
  width:100%;
  background-image:url('../imgs/joshua_maddox_cinderhouse.jpg'); /*ADJUST HEADER IMAGE HERE*/
  background-size:cover;
  text-align: center;
  color: white;
  padding: 20px;
}

.jm-header-text h1 {
	color: #fff;	
}

.jm-header-text p {
	font-size: 1.5em;
}

.jm-main-header .col-sm-4 {
	margin: 0 auto;
	padding-bottom: 20px;
}

/* ================= RESUME ================= */

.jm-resume {
	text-align: center;
}

.jm-resume-toggle-one, 
.jm-resume-toggle-four,
.jm-resume-toggle-five {
		background-color: #333;
		color: #fff;	
	}
.jm-resume-toggle-one h2, 
.jm-resume-toggle-four h2,
.jm-resume-toggle-five h2,
.jm-resume-toggle-one h4, 
.jm-resume-toggle-four h4,
.jm-resume-toggle-five h4 {
	color: #fff;
}
	
.jm-resume-box {
	padding: 40px;
}


/* ================= MEDIA QUERIES ================= */	

@media only screen and (max-width : 3840px) {

	.jm-main-header { /*ADJUST MAIN IMAGE MIN HEIGHT AT BREAK*/
		min-height: 1000px;
	}

	.jm-header-text { /*ADJUST POSITION OF TEXT AND BUTTONS IN HEADER AT BREAK*/
	 	margin-top:400px;
	}

	.jm-resume-box {
		padding: 40px 160px;
	}

}

@media only screen and (max-width : 1920px) {

	.jm-main-header { /*ADJUST MAIN IMAGE MIN HEIGHT AT BREAK*/
		min-height: 800px;
	}

	.jm-header-text { /*ADJUST POSITION OF TEXT AND BUTTONS IN HEADER AT BREAK*/
	 	margin-top:275px;
	}

	.jm-resume-box { /*ADJUST SPACE ON SIDES OF RESUME BOXES*/
		padding: 40px;
	}

}


@media only screen and (max-width : 1200px) {
	
}

@media only screen and (max-width : 979px) {

}

@media only screen and (max-width : 767px) {

	.jm-main-header { /*ADJUST MAIN IMAGE MIN HEIGHT AT BREAK*/
		min-height: 400px;
	}
	.jm-header-text { /*ADJUST POSITION OF TEXT AND BUTTONS IN HEADER AT BREAK*/
	 	margin-top: 85px;
	}

	.jm-resume-toggle-three { /*ALLOWS RESUME BOX STYLING TO ALTERNATE COLORS ON MEIDA BREAK*/
		background-color: #333;
		color: #fff;
	}

	.jm-resume-toggle-three h2, /*ALLOWS RESUME BOX STYLING TO ALTERNATE COLORS ON MEIDA BREAK*/
	.jm-resume-toggle-three h4 {
		color: #fff;
	}

	.jm-resume-toggle-four { /*ALLOWS RESUME BOX STYLING TO ALTERNATE COLORS ON MEIDA BREAK*/
		background-color: #fff;
		color: #333;
	}

	.jm-resume-toggle-four h2, /*ALLOWS RESUME BOX STYLING TO ALTERNATE COLORS ON MEIDA BREAK*/
	.jm-resume-toggle-four h4 {
		color: #333;
	}
}

@media only screen and (max-width : 480px) {

	.jm-main-header { /*ADJUST MAIN IMAGE MIN HEIGHT AT BREAK*/
		min-height: 400px;
	}

	.jm-header-text { /*ADJUST POSITION OF TEXT AND BUTTONS IN HEADER AT BREAK*/
	 	margin-top: 60px;
	}
}

@media only screen and (max-width : 320px) {

	.jm-main-header { /*ADJUST MAIN IMAGE MIN HEIGHT AT BREAK*/
		min-height: 400px;
	}
}